<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<div class="content-wrapper">
    <div class="content">
        <div class="info-box">
            <div class="row">
                <div class="col-lg-12 m-b-3">
                    <h4 class="text-black">Product</h4>
                    <br>
                    <div class="table-responsive ">
                        <div class="container">
                            <table class="table" id="pro">
                                <thead class="bg-inverse text-white">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Delivery Address</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Order Status</th>
                                        <th scope="col">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each orders}}
                                    <tr>
                                        <td scope="row" id="count">{{math @index "+" 1}}</td>
                                        <td>{{deliveryAdrress.fname}}</td>
                                        <td>{{deliveryAdrress.address}}<br>
                                            {{deliveryAdrress.city}},
                                            {{deliveryAdrress.state}}<br>
                                            Pincode:{{deliveryAdrress.pincode}}</td>
                                        <td>{{date}}</td>
                                        <td>{{total}}</td>

                                        <td>{{status}}
                                            {{#ifEquals status "placed"}}
                                            Order Placed
                                            {{/ifEquals}}
                                           {{#ifEquals status "Confirm"}}
                                            Order Ready to be shipped
                                            {{/ifEquals}}
                                            {{#ifEquals status "Deliver"}}
                                            Your order has been delivered
                                            {{/ifEquals}}
                                            {{!-- {{#ifEquals status "placed"}}
                                            Order Placed
                                            {{/ifEquals}}
                                            {{#ifEquals status "placed"}}
                                            Order Placed
                                            {{/ifEquals}} --}}
                                        </td>

                                        <td>

                                            <div class="input-group">
                                                <select class="custom-select" id="inputGroupSelect04"
                                                    aria-label="Example select with button addon">
                                                    {{!-- <option selected>{{status}}</option> --}}
                                                    {{#ifEquals status "placed"}}
                                                    <option value="confirm">Confirm</option>
                                                    <option value="ship">Ship</option>
                                                    <option value="delivered">Deliver</option>
                                                    {{/ifEquals}}
                                                    {{#ifEquals status "confirm"}}
                                                    <option value="ship">Ship</option>
                                                    <option value="delivered">Deliver</option>
                                                    {{/ifEquals}}
                                                    {{#ifEquals status "Ship"}}
                                                    {{!-- <option value="confirm">Confirm</option>
                                                    <option value="ship">Ship</option> --}}
                                                    <option value="delivered">Deliver</option>
                                                    {{/ifEquals}}
                                                     {{#ifEquals status "Deliver"}}
                                                    {{!-- <option value="confirm">Confirm</option>
                                                    <option value="ship">Ship</option>
                                                    <option value="delivered">Delivered</option> --}}
                                                    {{/ifEquals}}
                                                    



                                                </select>
                                                <div class="input-group-append">
                                                     <button class="btn btn-outline-secondary"
                                                        type="button" onclick="status('{{_id}}')">Submit</button>
                                                </div>
                                            </div>
                                            {{!-- <button class="btn btn-success">Submit</button> --}}
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#pro').DataTable({
            paging: true
        });
    });
    function status(id){
 var e = document.getElementById('inputGroupSelect04')
 var status = e.options[e.selectedIndex].text;
 $.ajax({
     method:'post',
     url:'changeStatus',
     data:{status,id},
     success:(response)=>{
         alert(response)
     }
 })
    }
   
</script>