<div class="content-wrapper">
    <div class="content">
        <div class="info-box">
            <div class="row">
                <div class="col-lg-12 m-b-3">
                    <h4 class="text-black">Product</h4>
                    <br>
                    <div class="table-responsive justify-content-center">
                        <div class="container">
                            <table class="table table-responsive">
                                <thead class="bg-inverse text-white">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Brand</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center align-middle">
                                    {{#each product}}
                                    <tr>
                                        <td scope="row" class="class=" create_index"">{{@index}}</td>
                                        <td><img src="../product-images/{{this._id}}.jpg"
                                                style="height: 100px; width:100px;" class="d-flex justify-content-center" alt=""></td>
                                        <td>{{this.name}}</td>
                                        <td>{{this.brand}}</td>
                                        <td>{{this.description}}</td>
                                        <td>{{this.price}}</td>
                                        <td>{{this.quantity}}</td>
                                        <td><a href="/editProd/{{this._id}}" class="text-white"
                                                style="text-decoration: none;"><button
                                                    class="btn btn-primary">Edit</button></td></a>
                                        <td><a href="/deleteProd/{{this._id}}"
                                                    class="text-white"
                                                    style="text-decoration: none;"><button class="btn btn-danger">Delete</button></td></a>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>