<!-- slider area start -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<div class="slider-area">
    <div class="hero-slider-active slick-dot-style slider-arrow-style">
        <div class="single-slider d-flex align-items-center"
            style="background-image: url(/img/slider/slider1-home1.jpg);">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-sm-8">
                        <div class="slider-text">
                            <h1>New Range Of<br>sumsang Camera</h1>
                            <p>sumsang EOS600D/Kiss X5</p>
                            <a class="btn-1 home-btn" href="#">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider d-flex align-items-center"
            style="background-image: url(/img/slider/slider2-home1.jpg);">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-sm-8">
                        <div class="slider-text">
                            <h1>Game, Consoles &amp;<br>much more</h1>
                            <p>Sega Saturn Disc Drive Replacement</p>
                            <a class="btn-1 home-btn" href="#">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider area end -->

<!-- feature area start -->
<div class="feature-style-one pt-70 pb-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="feature-inner fix">
                    <div class="col">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <img src="/img/icon/wrapper1.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4>free shipping</h4>
                                <p>free shipping on all us order</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <img src="/img/icon/wrapper2.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4>Support 24/7</h4>
                                <p>Contact us 24 hours a day</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <img src="/img/icon/wrapper3.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4>100% Money Back</h4>
                                <p>You have 30 days to Return</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <img src="/img/icon/wrapper4.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4>90 Days Return</h4>
                                <p>If goods have problems</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <img src="/img/icon/wrapper5.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4>Payment Secure</h4>
                                <p>We ensure secure payment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- feature area end -->

<!-- product wrapper area start -->
<div class="product-wrapper fix pb-70">
    <div class="container-fluid">
        <div class="section-title product-spacing hm-11">
            <h3><span>our</span> product</h3>
            <div class="boxx-tab">
                <ul class="nav my-tab">
                    <li>
                        <a class="active" data-toggle="tab" href="#one">Camera, Photo & Video</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#two">Audio & Home Theater</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#three">Cellphones & Accessories</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="one">
                <div class="product-gallary-wrapper">
                    <div class="product-gallary-active owl-carousel owl-arrow-style product-spacing">
                        {{#each product}}
                        <div class="product-item ">
                            <div class="product-thumb d-flex justify-content-center mt-2">
                                <a href="/productDetails/{{this._id}}">
                                    <img src="./product-images/{{this._id}}.jpg" style="height: 250px;" class="pri-img d-flex justify-content-center" alt="">
                                    {{!-- <img src="/img/product/product-2.jpg" class="sec-img" alt=""> --}}
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_new">
                                        {{!-- <span>new</span> --}}
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="/productDetails/{{this._id}}" title="Quick view" data-target="#quickk_view" data-toggle="modal"><i
                                            class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption ">
                                <div class="manufacture-product">
                                    <p><a href="shop-grid-left-sidebar.html"><b>{{this.brand}}</b></a></p>
                                </div>
                                <div class="product-name text-center">
                                    <h4><a href="/productDetails/{{this._id}}">{{this.name}}</a></h4>
                                </div>
                                <br>
                                <div class="price-box ">
                                    <span class="regular-price"><i class="fas fa-rupee-sign"></i> {{ this.price}}</span>
                                </div>
                                <br>
                                {{!-- <a href="/addToCart/{{this._id}}"> --}}
                                <button class="btn-cart tetx-center" type="button" onclick="addToCart('{{this._id}}')">add to cart</button>
                                {{!-- </a> --}}
                                
                            </div>
                        </div><!-- </div> end single item -->
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="two">
                <div class="product-gallary-wrapper">
                    <div class="product-gallary-active owl-carousel owl-arrow-style product-spacing">
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="/img/product/product-4.jpg" class="pri-img" alt="">
                                    <img src="/img/product/product-1.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_sale">
                                        <span>-7%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view" data-target="#quickk_view" data-toggle="modal"><i
                                            class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="shop-grid-left-sidebar.html">apple</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="product-details.html">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="ratings">
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£78.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div><!-- </div> end single item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="/img/product/product-9.jpg" class="pri-img" alt="">
                                    <img src="/img/product/product-10.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_sale">
                                        <span>-5%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view" data-target="#quickk_view" data-toggle="modal"><i
                                            class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="shop-grid-left-sidebar.html">jony</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="product-details.html">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="ratings">
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£90.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div><!-- </div> end single item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="/img/product/product-3.jpg" class="pri-img" alt="">
                                    <img src="/img/product/product-4.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_new">
                                        <span>new</span>
                                    </div>
                                    <div class="label-product label_sale">
                                        <span>-10%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view" data-target="#quickk_view" data-toggle="modal"><i
                                            class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="shop-grid-left-sidebar.html">lg</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="product-details.html">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="ratings">
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price"><span class="special-price">£50.00</span></span>
                                    <span class="old-price"><del>£60.00</del></span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div><!-- </div> end single item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="/img/product/product-4.jpg" class="pri-img" alt="">
                                    <img src="/img/product/product-8.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_sale">
                                        <span>-10%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view" data-target="#quickk_view" data-toggle="modal"><i
                                            class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="shop-grid-left-sidebar.html">sumsang</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="product-details.html">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="ratings">
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£78.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div><!-- </div> end single item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="/img/product/product-5.jpg" class="pri-img" alt="">
                                    <img src="/img/product/product-6.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_new">
                                        <span>new</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view" data-target="#quickk_view" data-toggle="modal"><i
                                            class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="shop-grid-left-sidebar.html">hitachi</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="product-details.html">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="ratings">
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£46.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div><!-- </div> end single item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="/img/product/product-2.jpg" class="pri-img" alt="">
                                    <img src="/img/product/product-3.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_new">
                                        <span>new</span>
                                    </div>
                                    <div class="label-product label_sale">
                                        <span>-20%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view" data-target="#quickk_view" data-toggle="modal"><i
                                            class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="shop-grid-left-sidebar.html">walton</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="product-details.html">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="ratings">
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price"><span class="special-price">£65.00</span></span>
                                    <span class="old-price"><del>£90.00</del></span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div><!-- </div> end single item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="/img/product/product-1.jpg" class="pri-img" alt="">
                                    <img src="/img/product/product-2.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_new">
                                        <span>new</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view" data-target="#quickk_view" data-toggle="modal"><i
                                            class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="shop-grid-left-sidebar.html">jamuna</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="product-details.html">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="ratings">
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£30.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div><!-- </div> end single item -->
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="three">
                <div class="product-gallary-wrapper">
                    <div class="product-gallary-active owl-carousel owl-arrow-style product-spacing">
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="/img/product/product-11.jpg" class="pri-img" alt="">
                                    <img src="/img/product/product-12.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_sale">
                                        <span>-7%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view" data-target="#quickk_view" data-toggle="modal"><i
                                            class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="shop-grid-left-sidebar.html">sumsang</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="product-details.html">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="ratings">
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£78.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div><!-- </div> end single item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="/img/product/product-13.jpg" class="pri-img" alt="">
                                    <img src="/img/product/product-10.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_sale">
                                        <span>-5%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view" data-target="#quickk_view" data-toggle="modal"><i
                                            class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="shop-grid-left-sidebar.html">apple</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="product-details.html">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="ratings">
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£90.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div><!-- </div> end single item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="/img/product/product-7.jpg" class="pri-img" alt="">
                                    <img src="/img/product/product-4.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_new">
                                        <span>new</span>
                                    </div>
                                    <div class="label-product label_sale">
                                        <span>-10%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view" data-target="#quickk_view" data-toggle="modal"><i
                                            class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="shop-grid-left-sidebar.html">jony</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="product-details.html">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="ratings">
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price"><span class="special-price">£50.00</span></span>
                                    <span class="old-price"><del>£60.00</del></span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div><!-- </div> end single item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="/img/product/product-7.jpg" class="pri-img" alt="">
                                    <img src="/img/product/product-2.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_sale">
                                        <span>-10%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view" data-target="#quickk_view" data-toggle="modal"><i
                                            class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="shop-grid-left-sidebar.html">sumsang</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="product-details.html">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="ratings">
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£78.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div> <!-- </div> end single item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="/img/product/product-4.jpg" class="pri-img" alt="">
                                    <img src="/img/product/product-1.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_new">
                                        <span>new</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view" data-target="#quickk_view" data-toggle="modal"><i
                                            class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="shop-grid-left-sidebar.html">apple</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="product-details.html">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="ratings">
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£46.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div> <!-- </div> end single item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="/img/product/product-6.jpg" class="pri-img" alt="">
                                    <img src="/img/product/product-9.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_new">
                                        <span>new</span>
                                    </div>
                                    <div class="label-product label_sale">
                                        <span>-20%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view" data-target="#quickk_view" data-toggle="modal"><i
                                            class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="shop-grid-left-sidebar.html">hitachi</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="product-details.html">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="ratings">
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price"><span class="special-price">£65.00</span></span>
                                    <span class="old-price"><del>£90.00</del></span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div> <!-- </div> end single item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="/img/product/product-11.jpg" class="pri-img" alt="">
                                    <img src="/img/product/product-13.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_new">
                                        <span>new</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view" data-target="#quickk_view" data-toggle="modal"><i
                                            class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="shop-grid-left-sidebar.html">apple</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="product-details.html">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="ratings">
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£30.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div> <!-- </div> end single item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- scroll to top -->
<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div> <!-- /End Scroll to Top -->

<!-- footer area start -->


<!-- Quick view modal start -->
<div class="modal fade" id="quickk_view">
    <div class="container">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="product-large-slider mb-20">
                                <div class="pro-large-img">
                                    <img src="/img/product/product-4.jpg" alt="" />
                                </div>
                                <div class="pro-large-img">
                                    <img src="/img/product/product-5.jpg" alt="" />
                                </div>
                                <div class="pro-large-img">
                                    <img src="/img/product/product-6.jpg" alt="" />
                                </div>
                                <div class="pro-large-img">
                                    <img src="/img/product/product-7.jpg" alt="" />
                                </div>
                                <div class="pro-large-img">
                                    <img src="/img/product/product-8.jpg" alt="" />
                                </div>
                                <div class="pro-large-img">
                                    <img src="/img/product/product-9.jpg" alt="" />
                                </div>
                            </div>
                            <div class="pro-nav">
                                <div class="pro-nav-thumb"><img src="/img/product/product-4.jpg" alt="" /></div>
                                <div class="pro-nav-thumb"><img src="/img/product/product-5.jpg" alt="" /></div>
                                <div class="pro-nav-thumb"><img src="/img/product/product-6.jpg" alt="" /></div>
                                <div class="pro-nav-thumb"><img src="/img/product/product-7.jpg" alt="" /></div>
                                <div class="pro-nav-thumb"><img src="/img/product/product-8.jpg" alt="" /></div>
                                <div class="pro-nav-thumb"><img src="/img/product/product-9.jpg" alt="" /></div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="product-details-inner">
                                <div class="product-details-contentt">
                                    <div class="pro-details-name mb-10">
                                        <h3>Bose SoundLink Bluetooth Speaker</h3>
                                    </div>
                                    <div class="pro-details-review mb-20">
                                        <ul>
                                            <li>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                            </li>
                                            <li><a href="#">1 Reviews</a></li>
                                        </ul>
                                    </div>
                                    <div class="price-box mb-15">
                                        <span class="regular-price"><span class="special-price">£50.00</span></span>
                                        <span class="old-price"><del>£60.00</del></span>
                                    </div>
                                    <div class="product-detail-sort-des pb-20">
                                        <p>Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR
                                            category', while we're not typically too concerned</p>
                                    </div>
                                    <div class="pro-details-list pt-20">
                                        <ul>
                                            <li><span>Availability :</span>In Stock</li>
                                        </ul>
                                    </div>
                                    <div class="product-availabily-option mt-15 mb-15">
                                        <h3>Available Options</h3>
                                        <div class="color-optionn">
                                            <h4><sup>*</sup>color</h4>
                                            <ul>
                                                <li>
                                                    <a class="c-black" href="#" title="Black"></a>
                                                </li>
                                                <li>
                                                    <a class="c-blue" href="#" title="Blue"></a>
                                                </li>
                                                <li>
                                                    <a class="c-brown" href="#" title="Brown"></a>
                                                </li>
                                                <li>
                                                    <a class="c-gray" href="#" title="Gray"></a>
                                                </li>
                                                <li>
                                                    <a class="c-red" href="#" title="Red"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="pro-quantity-box mb-30">
                                        <div class="qty-boxx">
                                            <label>qty :</label>
                                            <input type="text" placeholder="0">
                                            <button class="btn-cart lg-btn">add to cart</button>
                                        </div>
                                    </div>
                                    <div class="pro-social-sharing">
                                        <label>share :</label>
                                        <ul>
                                            <li class="list-inline-item">
                                                <a href="#" class="bg-facebook" title="Facebook">
                                                    <i class="fa fa-facebook"></i>
                                                    <span>like 0</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#" class="bg-twitter" title="Twitter">
                                                    <i class="fa fa-twitter"></i>
                                                    <span>tweet</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#" class="bg-google" title="Google Plus">
                                                    <i class="fa fa-google-plus"></i>
                                                    <span>google +</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addToCart(proId){
        $.ajax({
            url:'/addToCart/'+proId,
            method:'get',
            success:(response)=>{
                if(response.status){
                    $('#cart-count').html(response.count).show()
                }
            }
        })
    }
</script>