<!-- slider area start -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<div class="slider-area">
    <div class="hero-slider-active slick-dot-style slider-arrow-style">
        <div class="single-slider d-flex align-items-center"
            style="background-image: url(/img/slider/slider1-home1.jpg);">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-sm-8">
                        <div class="slider-text">
                            <h1>New Range Of<br>sumsang Camera</h1>
                            <p>sumsang EOS600D/Kiss X5</p>
                            <a class="btn-1 home-btn" href="#">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider d-flex align-items-center"
            style="background-image: url(/img/slider/slider2-home1.jpg);">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-sm-8">
                        <div class="slider-text">
                            <h1>Game, Consoles &amp;<br>much more</h1>
                            <p>Sega Saturn Disc Drive Replacement</p>
                            <a class="btn-1 home-btn" href="#">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider area end -->

<!-- feature area start -->
{{!-- <div class="feature-style-one pt-70 pb-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="feature-inner fix">
                    <div class="col">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <img src="/img/icon/wrapper1.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4>free shipping</h4>
                                <p>free shipping on all us order</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <img src="/img/icon/wrapper2.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4>Support 24/7</h4>
                                <p>Contact us 24 hours a day</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <img src="/img/icon/wrapper3.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4>100% Money Back</h4>
                                <p>You have 30 days to Return</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <img src="/img/icon/wrapper4.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4>90 Days Return</h4>
                                <p>If goods have problems</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <img src="/img/icon/wrapper5.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4>Payment Secure</h4>
                                <p>We ensure secure payment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}
<!-- feature area end -->

<!-- product wrapper area start -->
<div class="product-wrapper fix pb-70">
    <div class="container">
        <div class="section-title product-spacing hm-11">
            <h3><span>our</span> product</h3>
            <div class="boxx-tab">
                <ul class="nav my-tab">
                    <li>
                        <a class="active" data-toggle="tab" href="#one">Camera, Moblies, Laptops & Phones</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="one">
                <div class="row d-flex justify-content-center">

                    {{#each product}}
                    <div class="product-item col-md-3 mr-3 mb-3 col-12">

                        <div class="product-thumb d-flex justify-content-center mt-2">
                            <a href="/productDetails/{{this._id}}">
                                <img src="./product-images/{{this._id}}.jpg" style="height: 250px;"
                                    class="pri-img d-flex justify-content-center" alt="">

                            </a>
                            <div class="box-label">
                                {{#if this.offer}}
                                <div class="label-product label_sale">
                                    <span>{{this.offer}}%</span>
                                </div>
                                {{else}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="product-caption ">
                            <div class="manufacture-product">
                                <p><a href=""><b>{{this.brand}}</b></a></p>
                            </div>
                            <div class="product-name text-center">
                                <h4><a href="/productDetails/{{this._id}}">{{this.name}}</a></h4>
                            </div>
                            <br>
                            {{#if this.offer}}
                            <div class="price-box">
                                <span class="regular-price"><span
                                        class="special-price">Rs.{{this.price}}/-</span></span>
                                <span class="old-price"><del>Rs.{{this.oldPrice}}/-</del></span>
                            </div>
                            {{else}}
                            <div class="price-box">
                                <span class="regular-price"><span
                                        class="special-price">Rs.{{this.price}}/-</span></span>

                            </div>
                            {{/if}}
                            <br>

                            <button class="btn-cart tetx-center" type="button" onclick="addToCart('{{this._id}}')">add
                                to cart</button>

                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</div>



<!-- scroll to top -->
<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div> <!-- /End Scroll to Top -->

<!-- footer area start -->


<!-- Quick view modal start -->

<script>
    function addToCart(proId) {
        $.ajax({
            url: '/addToCart/' + proId,
            method: 'get',
            success: (response) => {
                if (response.status) {
                    document.getElementById('cart-count').innerHTML = response.count
                    alert('Item added to cart')
                }
            }
        })
    } 
</script>