<!-- breadcrumb area start -->
<div class="breadcrumb-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Order</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->

<!-- Start of wishlist Wrapper -->
<div class="wishlist-wrapper mb-55">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <main id="primary" class="site-main">
                    <div class="wishlist">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="section-title">
                                    <h3>My Orders</h3>
                                </div>
                                <form action="#">
                                    <div class="table-responsive text-center wishlist-style">
                                        <table class="table table-bordered">
                                            <thead>
                                             
                                                <tr>
                                                    <td>#</td>
                                                    
                                                    <td>Delivery Address</td>
                                                    <td>Date</td>
                                                    <td>Payment Method</td>
                                                    <td>Total Amount</td>
                                                    <td>Total Items</td>
                                                    <td>Status</td>
                                                    <td>Action</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each orders}}
                                                <tr>
                                                    <td>
                                                        {{math @index "+" 1}}
                                                    </td>
                                                    
                                                    <td>
                                                        {{this.address.address}}<br>
                                                        {{this.address.city}},
                                                        {{this.address.state}}<br>
                                                        Pincode:{{this.address.pincode}}
                                                    </td>
                                                    
                                                    <td>{{date}}</td>
                                                    
                                                    <td>
                                                        {{this.paymentMethod}}
                                                    </td>
                                                    <td>
                                                        <div ><small><del></del></small>
                                                            <strong>RS.{{this.total}}</strong></div>
                                                    </td>
                                                    <td>
                                                        {{this.sum}}
                                                    </td>
                                                    <td>{{this.status}}</td>
                                                    <td><a href="" class="text-white btn btn-secondary dark align-self-end">View Products</a></td>
                                                </tr>
                                               {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- end of wishlist -->
                </main> <!-- end of #primary -->
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>
<!-- End of wishlist Wrapper -->

<!-- scroll to top -->
<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div> <!-- /End Scroll to Top -->