
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<div class="product-wrapper fix pb-70">
    <div class="container">
        <div class="section-title product-spacing hm-11">
            <h3><span>our</span> product</h3>
            <div class="boxx-tab">
                <ul class="nav my-tab">
                    <li>
                        <a class="active" data-toggle="tab" href="#one">{{product.catName}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="one">
                <div class="row d-flex justify-content-center">

                    {{#each product}}
                    <div class="product-item col-md-3 mr-3 mb-3 col-12">

                        <div class="product-thumb d-flex justify-content-center mt-2">
                            <a href="/productDetails/{{this._id}}">
                                <img src="/product-images/{{this._id}}.jpg" style="height: 250px;"
                                    class="pri-img d-flex justify-content-center" alt="">
                            {{this.id}}


                            </a>
                            <div class="box-label">
                                {{#if this.offer}}
                                <div class="label-product label_sale">
                                    <span>{{this.offer}}%</span>
                                </div>
                                {{else}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="product-caption ">
                            <div class="manufacture-product">
                                <p><a href=""><b>{{this.brand}}</b></a></p>
                            </div>
                            <div class="product-name text-center">
                                <h4><a href="/productDetails/{{this._id}}">{{this.name}}</a></h4>
                            </div>
                            <br>
                            {{#if this.offer}}
                            <div class="price-box">
                                <span class="regular-price"><span
                                        class="special-price">Rs.{{this.price}}/-</span></span>
                                <span class="old-price"><del>Rs.{{this.oldPrice}}/-</del></span>
                            </div>
                            {{else}}
                            <div class="price-box">
                                <span class="regular-price"><span
                                        class="special-price">Rs.{{this.price}}/-</span></span>

                            </div>
                            {{/if}}
                            <br>

                            <button class="btn-cart tetx-center" type="button" onclick="addToCart('{{this._id}}')">add
                                to cart</button>

                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</div>

<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div>

<script>
    function addToCart(proId) {
        $.ajax({
            url: '/addToCart/' + proId,
            method: 'get',
            success: (response) => {
                if (response.status) {
                    document.getElementById('cart-count').innerHTML = response.count
                    alert('Item added to cart')
                }
            }
        })
    } 
</script>