<!-- breadcrumb area start -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<div class="slider-area">
    <div class="breadcrumb-area mb-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product details</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->

    <!-- product details wrapper start -->
    <div class="product-details-main-wrapper pb-50">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5">
                    <div class="product-large-slider mb-20">
                        <div class="pro-large-img d-flex justify-content-center mt-5">
                            <img src="../product-images/{{product._id}}.jpg" style="height: 400px; width:300px;"
                                alt="" />
                            <div class="img-view">
                                <a class="img-popup" href="../product-images/{{product._id}}.jpg"><i
                                        class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="pro-nav">
                        <div class="pro-nav-thumb"><img src="../product-images/{{product._id}}.jpg" alt="" /></div>
                    </div> --}}
                </div>
                <div class="col-lg-7">
                    <div class="product-details-inner">
                        <div class="product-details-contentt">
                            <div class="pro-details-name mb-10">
                                <h3>{{product.name}}</h3>
                            </div>
                            {{#if product.offer}}
                            <div class="price-box mb-15">
                                <span class="regular-price"><span class="special-price">Rs.{{product.price}}/-</span></span>
                                <span class="old-price"><del>Rs.{{product.oldPrice}}/-</del></span>
                            </div>
                            {{else}}
                            <div class="price-box mb-15">
                                <span class="regular-price"><span class="special-price">Rs.{{product.price}}/-</span></span>
                                
                            </div>
                            {{/if}}

                            <div class="product-detail-sort-des pb-20">
                                <p>{{product.description}}</p>
                            </div>
                            <div class="pro-details-list pt-20">
                                <ul>
                                    <li><span>Ex Tax :</span>{{product.price}}/-</li>
                                    <li><span>Brands :</span><a href="#">{{product.brand}}</a></li>
                                    <li><span>Availability :</span>In Stock</li>
                                </ul>
                            </div>
                            <div class="pro-quantity-box mb-30">
                                <div class="qty-boxx">
                                    <button class="btn-cart tetx-center lg-btn" type="button"
                                        onclick="addToCart('{{product._id}}')">add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product details wrapper end -->

    <!-- product details reviews start -->
    <div class="product-details-reviews pb-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-info mt-half">
                        <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="nav_desctiption" data-toggle="pill"
                                    href="#tab_description" role="tab" aria-controls="tab_description"
                                    aria-selected="true">Description</a>
                            </li>
                            {{!-- <li class="nav-item">
                                <a class="nav-link" id="nav_review" data-toggle="pill" href="#tab_review" role="tab"
                                    aria-controls="tab_review" aria-selected="false">Reviews (1)</a>
                            </li> --}}
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab_description" role="tabpanel"
                                aria-labelledby="nav_desctiption">
                                <p>{{product.description}}</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="scroll-top not-visible">
            <i class="fa fa-angle-up"></i>
        </div> 
        <script>
            function addToCart(proId) {
                $.ajax({
                    url: '/addToCart/' + proId,
                    method: 'get',
                    success: (response) => {
                        if (response.status) {
                            let count = $('#cart-count').html()
                            count = parseInt(count) + 1
                            $('#cart-count').html(count)
                        }
                    }
                })
            }
        </script>